
.modal-background {
  background-color: #0000008f;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  }
  
.modal-child {
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #2d333f;
    line-height: 1.15;
    padding-top: 4.5rem;
    background-color: #fff;
    min-height: calc(48.0625rem - 96px);
    padding: 48px 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  .close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
 