
.modal-background {
  background-color: rgba(2,2,2,0.486);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}
  
.modal-child {
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #2d333f;
    line-height: 1.15;
    padding-top: 4.5rem;
    background-color: #fff;
    height: 350px;
    display: flex;
    flex-flow: column;
    align-self: center;
    min-width: 400px;
    padding: 12px;
    z-index: 3;
}

.close-x {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.login-signup-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: #e4e4e4 1px solid;
  font-size: 21px;
  align-self: center;
  align-content: center;
}

.login-input {
  border: none;
  box-sizing: border-box;
  line-height: 24px;
  min-height: 24px;
  padding: 12px 8px;
  color: #2d333f;
  background-color: initial;
  height: 100%;
  width: 100%;
  outline: #247f9e;
  padding-bottom: 16px;
}

.render-errors {
  color: red
}

.demo-user-login {
  background-color: #247f9e;
  border: .0625rem solid #247f9e;
  color: #fff;
  font-size: 14px;
  margin: 0 8px;
  border-radius: .1875rem;
  cursor: pointer;
  line-height: 2rem;
  padding: 4px 16px;
  justify-content: center;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.login-form-buttons {
  background-color: initial;
  border: .0625rem solid #d8d9db;
  color: #2d333f;
  font-size: 14px;
  margin: 0;
  border-radius: .1875rem;
  cursor: pointer;
  line-height: 2rem;
  padding: 12px 16px;
  align-items: center;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.session-submit {
  background-color: #b8222d;
  -webkit-appearance: button;
  color: #fff;
  border-radius: 4px;
  height: 3rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: all .3s ease-out;
  width: 100%;
  overflow: visible;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.login-button {
  background-color: initial;
  border: .0625rem solid #d8d9db;
  color: #2d333f;
  font-size: 14px;
  margin: 0;
  border-radius: .1875rem;
  cursor: pointer;
  line-height: 2rem;
  padding: 0 16px;
  overflow: visible;
  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.create-account-button {
  background-color: initial;
  border: .0625rem solid #d8d9db;
  color: #2d333f;
  font-size: 14px;
  margin: 0;
  border-radius: .1875rem;
  cursor: pointer;
  line-height: 2rem;
  padding: 0px 6px 6px 16px;
  display: flex;
  justify-content: center;

  font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}