
.restaurant-show-flex-cont {
    border-radius: 4px;
    display: flex;
    justify-content: left;
    margin-top: 50px;
    position: relative;
    margin-left: 17rem;
}

.restaurant-banner-image {
    height: 460px;
    object-fit: cover;
    width: 100%;
    background-color: #2d333f;
    display: flex;
    line-height: 0;
    position: relative;
}

.restaurant-show-div {
    background-color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 32px;
    padding: 0 16px calc(128px - .25rem);
    width: 40rem;
    
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #2d333f;
    line-height: 1.15;
}


.nav-border {
    background: #fff;
    padding-top: 16px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.restaurant-nav {
    box-shadow: inset 0 -.0625rem 0 0 #d8d9db;
    position: relative;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #2d333f;
    line-height: 1.15;
}

.restaurant-toolbar {
    list-style-type: none;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    scrollbar-width: none;
    white-space: nowrap;
}

.quick-nav-li {
    margin-right: 32px;
    display: inline-block;
}

.quick-nav-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    appearance: none;
    background-color: initial;
    border: none;
    color: #6f737b;
    cursor: pointer;
    margin: 0 0 16px;
    padding: 0;
}

.restaurant-name {
    border-bottom: .0625rem solid #d8d9db;
    margin: 0;
    padding: 32px 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
    color: #2d333f;
}

.basic-rest-info {
    grid-gap: 16px;
    align-items: center;
    column-count: 4;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    margin-top: 16px;
}

.icon-info {
    font-weight: 600;
    line-height: 1.25rem;
    font-size: .875rem;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #2d333f;
}

.restaurant-description-div {
    margin-top: 32px;
}

.restaurant-description-span {
    line-height: 24px;
    max-height: 72px;
    overflow: hidden;
    -webkit-line-clamp: 3;

    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 0;
    max-width: 100%;
    overflow-wrap: anywhere;

    font-size: 1rem;
    font-weight: 400;
}

.restaurant-photos-header {
    margin: 0 0 .25rem;
    color: #2d333f;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;

    margin-top: 64px;
}

.restaurant-menu-header {
    margin: 0 0 .25rem;
    color: #2d333f;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;

    margin-top: 64px;
}

.additional-info-section {
    margin: 360px -286px 0;

    border-radius: 10px;

    width: 20rem;

    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #2d333f;
    line-height: 1.15;

    box-shadow: 0 2px 4px #2d333f33;
    display: inline-block;
    justify-content: left;
    /* width: 100%; */
}

.additional-info-header {
    padding-left: 8px;
    padding-top: 8px;
    margin: 0 0 8px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    height: 2rem;
    display: inline-table;
    justify-content: center;
    font-family: BrandonText,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #2d333f;
}

.additional-info-div {
    display: inline-flex;
    flex-direction: left;
    float: left;
}

.additional-info-ul {
    flex: 1;
    margin: 0;
    padding-left: 10px;
    display: center;
    flex-direction: column;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    font-display: bold;
}

.additional-info-li {
    list-style-type: none;
    display: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    padding-bottom: 1.5rem;
}